.search{
    color: black;
    margin: 5px 10px;
    border-radius: 20px;
    padding-left: 10px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}